.label {
  box-sizing: border-box;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  position: absolute;
  border-radius: 2px;
  color: #fff;
  padding: 3px 5px;
  text-align: center;
  left: 0%;
  top: -35px;
  transform: translateX(-50%);
  user-select: none;
}
