{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended"],
  "globals": {
    "$": "readonly",
    "jQuery": "readonly"
  },
  "rules": {
    "no-new": "warn",
    "func-names": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
