.control {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    margin-right: 20px;
  }
  &__header {
    display: inline-block;
    font-size: 1.17em;
    font-weight: bold;
  }
  &__input {
    cursor: pointer;
  }
}
