.control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    margin-right: 20px;
  }

  &__header {
    display: inline-block;
    font-weight: bold;
    font-size: 1.17em;
  }

  &__input {
    cursor: pointer;
  }
}
