.control {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    margin-right: 20px;
  }
  // &__leftBlock {
  //   display: flex;
  //   width: 35%;
  // }
  // &__rightBlock {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 60%;
  // }
}
