.handler {
  position: absolute;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  top: -5px;
  transform: translateX(-50%);
  z-index: 3;
}
