.line-block {
  position: relative;
  box-sizing: border-box;
  height: 6px;
  background: #fff;
  outline: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  width: 100%;
  touch-action: none;
  cursor: pointer;
}
