#app {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  width: 200px;
  height: 200px;
  margin: 50vh auto 0;
}

.app1 {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  width: 200px;
  height: 200px;
  margin: 50vh auto 0;
}
