#app {
  display: flex;
  flex-direction: column;
}

.app__slider-wrapper {
  display: flex;
}

.app__slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 200px;
  margin: 50vh auto;
}
